{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/todo_style.css' %}">
    <script src="{% static  'javascript/todo_script.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>To Do List</h1>
        <form>
            <input type="text" id="input">
            <input type="button" value="ADD" id="btn" onclick="display()">
            <span id="error"></span>
            <ul id="list"></ul>
        </form>
    </div>
</body>
</html>